<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{#使用这种方法不能加载出省份信息，只能在线生成才可以<script src="/static/booktest/jquery-1.12.4.min.js"></script>#}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        //使用ajax加载省信息
        $(function () {
            //查询省信息
            $.get('/pro/',function (list) {
                pro=$('#pro')
                $.each(list.data,function (index,item) {
                    pro.append('<option value="'+item[0]+'">'+item[1]+'</option>')
                })
            })
            //查询市信息
            $('#pro').change(function () {
                $.get('/city'+$(this).val()+'/',function (list) {
                    city=$('#city');
                    city.empty().append('<option value="0">请选择市</option>')
                    $('#dis').append('<option value="0">请选择区县</option>')
                    $.each(list.data,function (index,item) {
                        city.append('<option value="'+item.id+'">'+item.title+'</option>')
                    })
                })
            })
            //查询区县信息
            $('#city').change(function () {
                $.get('/city'+$(this).val()+'/',function (list) {
                    dis=$('#dis');
                    dis.empty().append('<option value="0">请选择区县</option>')
                    $.each(list.data,function (index,item) {
                        dis.append('<option value="'+item.id+'">'+item.title+'</option>')
                    });
                });
            });
        });


    </script>
</head>
<body>
<select id="pro">
    <option value="0">请选择省</option>
</select>
<select id="city">
    <option value="0">请选择市</option>
</select>
<select id="dis">
    <option value="0">请选择区县</option>
</select>
</body>
</html>