<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{#使用这种方法不能加载出省份信息，只能在线生成才可以<script src="/static/booktest/jquery-1.12.4.min.js"></script>#}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        $(function () {
            //查询省信息
            pro=$('#pro')
            $.get('/area/0/',function (dic) {
                $.each(dic.data,function (index,item) {
                    pro.append('<option value="'+item[0]+'">'+item[1]+'</option>')
                })
            })
        });
    </script>
</head>
<body>
<select id="pro">
    <option value="">请选择省</option>
</select>
<select id="city">
    <option value="">请选择市</option>
</select>
<select id="dis">
    <option value="">请选择县</option>
</select>
</body>
</html>